<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>beauty</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sports</string>
	</dict>
	<dict>
		<key>name</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>name</key>
		<string>business</string>
	</dict>
	<dict>
		<key>name</key>
		<string>design</string>
	</dict>
	<dict>
		<key>name</key>
		<string>photography</string>
	</dict>
	<dict>
		<key>name</key>
		<string>style</string>
	</dict>
	<dict>
		<key>name</key>
		<string>politics</string>
	</dict>
	<dict>
		<key>name</key>
		<string>arts</string>
	</dict>
	<dict>
		<key>name</key>
		<string>food</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fitness</string>
	</dict>
</array>
</plist>
